@import '../../assets/styles/constants';

$rootClassName: produto-carrinho-component;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  width: 100%;
  min-width: 200px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--secondary);
  }
  padding: var(--spacing);

  .#{$rootClassName}-nome {
    color: var(--black);
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .#{$rootClassName}-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;
    span {
      font-size: 18px;
      margin: 0 8px;
    }
    button {
      &.alert {
        background-color: var(--danger);
      }
      &:disabled {
        background-color: var(--secondary-dark);
      }
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      background-color: var(--dark-blue);
      color: var(--white);
      border: none;
      outline: none;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      transition: all 0.3s ease;
    }
  }
}
