$rootClassName: home-page;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  .#{$rootClassName}-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
