@import url('./../../assets/styles/_constants.scss');

$rootClassName: icon-button;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  -webkit-appearance: none;
  background-color: var(--transparent);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: ce;
  justify-content: center;

  &:active {
    transform: scale(0.9);
  }

  &:not(.ignore-size) {
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .#{$rootClassName}-number {
    transition: all 0.3s ease;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    color: var(--white);
  }
}
