:root {
  // Colors
  --white: #ffffff;
  --black: #303030;
  --primary: #284b63;
  --primary-dark: #153243;

  --secondary-light: #eeeded;
  --secondary: #cfd1cf;
  --secondary-dark: #b4b8ab;

  --yellow: #fff159;
  --blue: #3483fa;
  --dark-blue: #2a6dd1;
  --transparent: #ffffff00;
  // Constants
  --font-family: 'Roboto', sans-serif;
  --spacing: 8px;
  --radius: 4px;
  --shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);

  // Indexes

  // ABISMO

  // Mixins
  --flex-centralized: {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
