:root {
  // Colors
  --white: #ffffff;
  --black: #303030;
  --primary: #284b63;
  --primary-dark: #153243;

  --secondary-light: #eeeded;
  --secondary: #cfd1cf;
  --secondary-dark: #b4b8ab;

  --yellow: #fff159;
  --blue: #3483fa;
  --danger: #ff5959;
  --dark-blue: #2a6dd1;
  --transparent: #ffffff00;
  // Constants
  --font-family: 'Roboto', sans-serif;
  --spacing: 8px;
  --radius: 4px;
  --shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);

  // Indexes
  // --zindex-tooltip: 1000;
  // --zindex-toastr: 999;
  --zindex-dropdown: 998;
  // --zindex-modal: 997;
  // --zindex-reCaptcha: 996;
  // --zindex-modal-mask: 995;
  // // ABISMO
  // --zindex-menu-sidebar: 972;
  // --zindex-menu-sidebar-backdrop: 971;
  --zindex-header: 970;
  // --zindex-logo: 950;
  // --zindex-page: 940;
  // --zindex-background-photo: 900;

  // ABISMO

  // Mixins
  --flex-centralized: {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
